<script language="javascript" >

    for (i = 2; i <= 1000; i++) {
        if (is_prime(i))
            document.write("prime number" + i + "<br>" + "<br>");

    }

    function is_prime(num)
    {

        //prime_number = true;
        for (number = 2; number <= (num / 2); number++) {
            if (num % number == 0) {
                return false;
            }
        }
        return true;

    }







</script>